<h1>Listing students</h1>

<form id="students_form" action="/students" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
  <select name="movie" id="search_by_movie"><option value="">Filter by movie</option><option value="">All</option><option value="Frozen">Frozen</option>
<option value="Moana">Moana</option>
<option value="Cars">Cars</option></select>
</form>


<table id="students-table">
  <tr>
    <th>Name</th>
    <th>FavoriteMovie</th>
  </tr>
</table>

<br/>
